{% extends 'RSS/base.html' %} {% load static %} {% block content %}

<br>
<form method="post">
  {% csrf_token %}
  <input type="text" name="url" placeholder="Enter RSS feed URL">
  <button type="submit">Submit</button>
</form>

<div class="container">
  <div class="row">
{% if entries %}
    <h1>{{ feed_title }}</h1>
  
  {% for entry in entries %}
    <div class="col">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ entry.title }}</h5>
          
          <p class="card-text">
            {{ entry.description }}
          </p>
          <a href="{{ entry.link }}" class="card-link">{{ entry.link }}</a>
        </div>
        
      </div>
    </div>
  {% endfor %}
{% endif %}
  </div>
</div>













 

{% endblock content %}
